<div class="ben-div">
  <%= ff.input :name %>
  <%= ff.input :date_of_birth %>
  <%= ff.input :relationship %>
  <%= link_to_remove_nested(ff, link_text: "Remove") %> <!-- adds a link to add more items -->
</div>