<div class="dep-div">
  <%= df.input :name %>
  <%= df.input :date_of_birth %>
  <%= df.input :relationship %>
  <%= link_to_remove_nested(df, link_text: "Remove") %> <!-- adds a link to add more items -->
</div>