<div class="container">
  <h1>Editing insured</h1>

  <%= render "form", insured: @insured %>

  <br>

  <div>
    <%= link_to "Show this insured", @insured %> |
    <%= link_to "Back to insureds", insureds_path %>
  </div>
</div>