<div id="<%= dom_id cooperative_branch %>">
  <p>
    <strong>Cooperative:</strong>
    <%= cooperative_branch.cooperative_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= cooperative_branch.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= cooperative_branch.address %>
  </p>

</div>
