<div class="container">
  <h1>Editing cooperative branch</h1>

  <%= render "form", cooperative_branch: @cooperative_branch %>

  <br>

  <div>
    <%= link_to "Show this cooperative branch", @cooperative_branch %> |
    <%= link_to "Back to cooperative branches", cooperative_branches_path %>
  </div>
</div>
